<div class="product-card">
   <img src="https://picsum.photos/2000/1200" alt="random img">
   <h2><span>Name:</span> {{name}}</h2>
   <p><span class="description">Description:</span> {{description}}</p>
   <p><span>ID:</span> {{id}}</p>
   <p><span class="price">Price:</span> {{price}}$</p>
   <a href="/product-edit?id={{id}}" class="edit-button">Edit</a>
</div>

